<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKZpg_v5IapKOwZkkQ2dOeoJ0B5uQNgqg</string>
	<key>GCM_SENDER_ID</key>
	<string>529956110580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neuralcode.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>z-alpha-brains</string>
	<key>STORAGE_BUCKET</key>
	<string>z-alpha-brains.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529956110580:ios:035aa093ee8b915fc81ea1</string>
</dict>
</plist>